# Add OpenELA to gnome-boxes
add {
	file: "PATCHES/add-openela-logo-and-update-recommended-list.patch"
}

spec_change {

	file {
		name: "add-openela-logo-and-update-recommended-list.patch"
		type: Patch
		add: true
		add_to_prep: true
		n_path: 1
	}

	append {
		field: "Release"
		value: ".openela.0.1"
	}

	changelog {
		author_name: "Release Engineering"
		author_email: "releng@openela.org"
		message: "Add OpenELA logo and update recommended list"
	}
}

